{extend name="public/base" /}
{block name="css"}
<style type="text/css">

</style>
{/block}
{block name="right"}
<div class="crumbs">
	高校列表
</div>
<div class="list_option">
	<a href="/school/edit">创建高校</a>
</div>
<table align="center">
	<thead>
		<tr align="center">
			<td>高校缩略图</td>
			<td width="150px">高校名称</td>
			<td width="150px">访问量</td>
			<td>学院数量</td>
			<td width="100px">性质</td>
			<td width="150px">创建时间</td>
			<td>状态</td>
			<td width="180px">有效期</td>
			<td>排序</td>
			<td>操作</td>
		</tr>
	</thead>
	<tbody>
		<?php foreach($schoolList as $school):?>
		<tr align="center">
			<td><img src="/"></td>
			<td><?php echo $school['sc_name'];?></td>
			<td>
				<p>访客数：</p>
				<p>浏览量：</p>
			</td>
			<td></td>
			<td><?php echo $school['sc_nature'];?></td>
			<td><?php echo date('Y-m-d H:i',$school['sc_create']);?></td>
			<td><?php echo $school['sc_state'] ? '上架' : '下架';?></td>
			<td>
				<p><?php echo date('Y-m-d H:i',$school['sc_start']);?></p>
				<p>至</p>
				<p><?php echo date('Y-m-d H:i',$school['sc_end']);?></p>
			</td>
			<td><?php echo $school['sc_sort'];?></td>
			<td>
				<a href="/school/edit?id=<?php echo $school['sc_id'];?>">编辑</a>
				<a href="/college/list?school=<?php echo $school['sc_id'];?>">学院管理</a>
			</td>
		</tr>
		<?php endforeach;?>
	</tbody>
</table>
{/block}