{extend name="public/base" /}
{block name="right"}
<div class="crumbs">
	<span>创建学院</span>
</div>
<ul class="edit_from">
<form id="edit_from" method="post">
	<li>
		<span>高校名称：</span>
		<input type="hidden" name="school" value="<?php echo $school['sc_id'];?>">
		<input type="text" value="<?php echo $school['sc_name'];?>" disabled>
	</li>
	<li>
		<span>学院名称：</span>
		<input type="hidden" name="id" value="<?php echo $college?$college['co_id']:'';?>">
		<input type="text" name="name" value="<?php echo $college?$college['co_name']:'';?>" />
	</li>
	<li>
		<span>成立年份：</span>
		<input type="text" name="year" value="<?php echo $college?$college['co_year']:'';?>" placeholder="例：1992">
	</li>
	<li>
		<span>学院介绍：</span>
		<textarea name="introduction" placeholder="分享好友后会显示这里的文案"><?php echo $college?$college['co_introduction']:'';?></textarea>
	</li>
	<li>
		<span>科段支持：</span>
		<input type="checkbox" name="channel_a" value="1" <?php echo (!$college||$college['co_channel_a'])?'checked="checked"':'';?>>高升专
		<input type="checkbox" name="channel_b" value="1" <?php echo ($college&&$college['co_channel_b'])?'checked="checked"':'';?>>专升本
		<input type="checkbox" name="channel_c" value="1" <?php echo ($college&&$college['co_channel_c'])?'checked="checked"':'';?>>专本连读
		<input type="checkbox" name="channel_d" value="1" <?php echo ($college&&$college['co_channel_d'])?'checked="checked"':'';?>>研究生
	</li>
	<li>
		<span class="fl">学院大图：</span>
		<?php foreach($collegeThumb as $v):?>
			<div class="show_img fl">
				<img src="<?php echo '/uploads/'.$v['ch_path'];?>">
				<div class="divX" data-id="<?php echo $v['ch_id'];?>" data-url="/college/delThumb">x</div>
			</div>
		<?php endforeach;?>
		<div class="select_file fl">+</div>		
		<input id="inputfile" type="file" data-type="college_thumb" data-business="<?php echo $college?$college['co_id']:'';?>">
		<input type="hidden" name="college_thumb">
	</li>
	<li class="clear">
		<span>联系地址：</span>
		<select class="area_select" data-area-level="1">
			<option>选择省份</option>
			<?php foreach($province as $v):?>
				<option value="<?php echo $v['ar_id'];?>" <?php if($college && $college['co_addr_pid'] == $v['ar_id']) echo 'selected="selected"';?>><?php echo $v['ar_name']?></option>
			<?php endforeach;?>
		</select>
		<select class="area_select" data-area-level="2">
			<option>选择城市</option>
			<?php foreach($city as $v):?>
				<option value="<?php echo $v['ar_id'];?>" <?php if($college && $college['co_addr_cid'] == $v['ar_id']) echo 'selected="selected"';?>><?php echo $v['ar_name']?></option>
			<?php endforeach;?>
		</select>
		<select class="area_select" data-area-level="3" name="addr_aid">
			<option>选择地区</option>
			<?php foreach($area as $v):?>
				<option value="<?php echo $v['ar_id'];?>" <?php if($college && $college['co_addr_aid'] == $v['ar_id']) echo 'selected="selected"';?>><?php echo $v['ar_name']?></option>
			<?php endforeach;?>
		</select>
		<input type="" name="addr_street" placeholder="请填写具体地址" value="<?php if($college) echo $college['co_addr_street'];?>">
	</li>
	<li>
		<span>对接人：</span>
		<input type="text" name="person" value="<?php if($college) echo $college['co_person'];?>" placeholder="姓名">
		<input type="text" name="person_tel" value="<?php echo $college?$college['co_person_tel']:'';?>" placeholder="电话">
	</li>
	<li>
		<span>排序：</span>
		<input type="text" name="sort" placeholder="" value="<?php echo $college?$college['co_sort']:0;?>">
	</li>
	<li>
		<span>上架时间：</span>
		<input class="datetime" type="text" name="start" placeholder="例：2017-07-23 12:40" value="<?php echo $college?date('Y-m-d H:i',$college['co_start']):'';?>">-
		<input class="datetime" type="text" name="end" placeholder="例：2017-07-23 12:40" value="<?php echo $college?date('Y-m-d H:i',$college['co_end']):'';?>">
	</li>
	<li>
		<span>显示状态：</span>
		<?php if(!$college):?>
			<input type="radio" name="state" value="1">上架
			<input type="radio" name="state" value="0" checked="checked">下架
		<?php else:?>
			<input type="radio" name="state" value="1" <?php if($college['co_state'] == 1) echo 'checked="checked"';?>>上架
			<input type="radio" name="state" value="0" <?php if($college['co_state'] == 0) echo 'checked="checked"';?>>下架
		<?php endif;?>
	</li>
	<li>
		<input id="edit_submit" type="button" name="" value="保存" 
			data-url="/college/ajax_edit" data-callback="/college/list?school=<?php echo $school['sc_id'];?>&page=1&rows=4">
	</li>
	</form>
</ul>
{/block}
{block name="script"}
<script type="text/javascript">

</script>
{/block}