{extend name="public/base" /}
{block name="css"}
<style type="text/css">
	tbody {
		border: 1px solid  #ccc;
	}
</style>
{/block}
{block name="right"}
<div class="crumbs">
	学院列表
</div>
<div class="list_option">
	<a href="/college/edit?school=<?php echo $schoolId;?>">创建学院</a>
</div>
<table>
	<thead>
		<tr>
			<td width="150px">高校缩略图</td>
			<td width="150px">高校名称</td>
			<td>专业数量</td>
			<td width="150px">科段支持</td>
			<td width="150px">创建时间</td>
			<td>状态</td>
			<td width="150px">有效期</td>
			<td>排序</td>
			<td>操作</td>
		</tr>
	</thead>
	<tbody>
		<?php foreach($collegeList as $college):?>
		<tr style="">
			<td><img class="list_thumb" src="/uploads/<?php echo $college['thumb'];?>"></td>
			<td><?php echo $college['co_name'];?></td>
			<td><?php echo $college['majorCount'];?></td>
			<td>
				<p><?php echo $college['co_channel_a']?'高升专':'';?></p>
				<p><?php echo $college['co_channel_b']?'专升本':'';?></p>
				<p><?php echo $college['co_channel_c']?'专本连读':'';?></p>
				<p><?php echo $college['co_channel_d']?'研究生':'';?></p>
			</td>
			<td><?php echo $college['co_insert_at'];?></td>
			<td><?php echo $college['co_state'] ? '上架' : '下架';?></td>
			<td>
				<p><?php echo date('Y-m-d H:i',$college['co_start']);?></p>
				<p>至</p>
				<p><?php echo date('Y-m-d H:i',$college['co_end']);?></p>
			</td>
			<td><?php echo $college['co_sort'];?></td>
			<td>
				<a href="/college/edit?id=<?php echo $college['co_id'];?>">编辑</a>
				<a href="/major/list?college=<?php echo $college['co_id'];?>&page=1&rows=4">专业管理</a>
			</td>
		</tr>
		<?php endforeach;?>
	</tbody>
</table>
<?php echo $pages;?>
{/block}