<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telephone=no" />
		<link rel="stylesheet" href="/static/mobile/css/ydui.css" />
		<link rel="stylesheet" href="/static/mobile/css/main.css" />
		<title></title>
	</head>

	<body>
		<section class="g-flexview">
			<header class="myHeader">
				<div class="m-grids-2 navbar-center myMiddle">
					<a href="#" class="grids-item grids-item-no-border">
						<div class="grids-icon"><img src="//static.ydcss.com/ydui/img/logo.png"></div>
						<div class="grids-txt">
							<span class="fontwhite">鉄弟</span>
						</div>
					</a>
					<a href="#" class="grids-item grids-item-no-border">
						<div class="grids-txt">
							<span style="font-size: 50px;" class="fontwhite">6</span><span class="fontwhite">天</span>
						</div>
						<div class="grids-txt">
							<span class="fontwhite">持续成长中</span>
						</div>
					</a>
				</div>
			</header>
			<section class="g-scrollview" id="scrollViewList">
				<div class="m-cell" id="myHistory">
					<div class="cell-item cell-itemnew">
						<div class="cell-left ">
							浏览历史</div>
						<div class="cell-right "></div>
					</div>
				</div>
			</section>
			<!--底部-->
			<footer class="m-tabbar" id="footer">
			</footer>
		</section>
	</body>

</html>
<script type="text/javascript" src="/static/mobile/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/static/mobile/js/ydui.js"></script>
<script type="text/javascript" src="/static/mobile/js/base.js"></script>
<script type="text/javascript" src="/static/mobile/js/template-web.js"></script>
<script type="text/javascript" src="/static/mobile/js/module/moduleArt.js"></script>
<script type="text/javascript" src="/static/mobile/js/data/data.js"></script>
<script>
	loadData();

	function loadData() {
		var renders = template.compile(stringHTML.myHistoryItemModule());
		var historys = renders(data.myHistoryListData());
		$("#myHistory").append(historys);
	}
	setFooter();

	function setFooter() {
		var renders = template.compile(stringHTML.footerItemModule());
		var htmls = renders(data.footerListData(3));
		$("#footer").append(htmls);
	}
</script>