<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telephone=no" />
		<link rel="stylesheet" href="/static/mobile/css/ydui.css" />
		<link rel="stylesheet" href="/static/mobile/css/main.css" />
		<title></title>
	</head>

	<body>
		<section class="g-flexview">
			<!--头部-->
			<header class="m-navbar">
				<a onclick="urlMethod.indexURL()" class="navbar-item">
					<i class="back-ico"></i>
				</a>
				<div class="navbar-center">
					<span class="navbar-title">标题</span>
				</div>
			</header>
			<section class="g-scrollview" id="scrollViewList">
				<table border="1" style="width: 100%;">
					<tr>
						<td style="width: 25%;">1111111111111111111111111111111111111tttttttttttttttttttttt</td>
						<td style="width: 25%;"> 11122</td>
						<td style="width: 25%;"></td>
						<td style="width: 25%;"></td>
					</tr>
				</table>
			</section>
		</section>
	</body>

</html>
<script type="text/javascript" src="/static/mobile/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/static/mobile/js/ydui.js"></script>
<script type="text/javascript" src="/static/mobile/js/base.js"></script>
<script type="text/javascript" src="/static/mobile/js/template-web.js"></script>
<script type="text/javascript" src="/static/mobile/js/module/moduleArt.js"></script>
<script type="text/javascript" src="/static/mobile/js/data/data.js"></script>