<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telephone=no" />
		<link rel="stylesheet" href="/static/mobile/css/ydui.css" />
		<link rel="stylesheet" href="/static/mobile/css/main.css" />
		<title></title>
	</head>

	<body>
		<section class="g-flexview">
			<!--头部-->
			<header class="m-navbar">
				<div class="navbar-center">
					<span class="navbar-title">首页</span>
				</div>
			</header>
			<section class="g-scrollview" id="scrollViewList">
				<!--轮播图片-->
				<div class="m-slider" data-ydui-slider="{autoplay:3000}">
					<div class="slider-wrapper">
						<div class="slider-item">
							<a href="#">
								<img src="http://static.ydcss.com/uploads/ydui/1.jpg" />
							</a>
						</div>
						<div class="slider-item">
							<a href="#">
								<img src="http://static.ydcss.com/uploads/ydui/2.jpg" />
							</a>
						</div>
						<div class="slider-item">
							<a href="#">
								<img src="http://static.ydcss.com/uploads/ydui/3.jpg" />
							</a>
						</div>
					</div>
					<div class="slider-pagination"></div>
				</div>
				<!--间隔-->
				<div class="h10"></div>
				<!--中间网格-->
				<div class="m-grids-4">
					<a href="#" class="grids-item">
						<div class="grids-txt">
							<span>高升专</span>
						</div>
					</a>
					<a href="#" class="grids-item">
						<div class="grids-txt">
							<span>专升本</span>
						</div>
					</a>
					<a href="#" class="grids-item">
						<div class="grids-txt">
							<span>MBA/专硕</span>
						</div>
					</a>
					<a href="#" class="grids-item">
						<div class="grids-txt">
							<span>考研</span>
						</div>
					</a>
				</div>
				<!--间隔-->
				<div class="h10"></div>
				<!--中间模块-->
				<div>

				</div>
				<!--列表-->

				<div id="indexList" class="m-list list-theme4">

				</div>
			</section>
			<!--底部-->
			<footer class="m-tabbar" id="footer">
			</footer>
		</section>

	</body>

</html>
<script type="text/javascript" src="/static/mobile/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/static/mobile/js/ydui.js"></script>
<script type="text/javascript" src="/static/mobile/js/base.js"></script>
<script type="text/javascript" src="/static/mobile/js/template-web.js"></script>
<script type="text/javascript" src="/static/mobile/js/module/moduleArt.js"></script>
<script type="text/javascript" src="/static/mobile/js/data/data.js"></script>
<!--底部自动加载-->
<script>
	var page = 1;
	var pageSize = 6;
	$("#scrollViewList").infiniteScroll({
		binder: "#scrollViewList",
		pageSize: pageSize,
		initLoad: true,
		loadingHtml: "<stong>加载中……</strong>",
		loadListFn: function() {
			var def = $.Deferred();
			window.setTimeout(function() {
				var render = template.compile(stringHTML.indexListItemModule());
				var html = render(data.indexListData(page));
				$("#indexList").append(html).find("strong").lazyLoad({
					binder: "#scrollViewList"
				});
				def.resolve(data.indexListData(page).list);
				++page;
			}, 1000);
			return def.promise();
		}
	});
	setFooter();

	function setFooter() {
		var renders = template.compile(stringHTML.footerItemModule());
		var htmls = renders(data.footerListData(1));
		$("#footer").append(htmls);
	}
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "https://hm.baidu.com/hm.js?2962f0c3a861e5f4f77f3176f5df530f";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
</script>